*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(../../img/people-job.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #3F1866;
    background-blend-mode: overlay;
    
}

.enviar > input{
    border-radius: 5px;
    background-color:#3F1866 ;
    color: white;
    display: block;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    border: 1px solid #963AF2;
    

}

footer{
    background-color: #6728a6dd;
    color: white;
    font-size: .7em;
    text-align: center;
}
