$layout-name: 'l-container';

.#{$layout-name}{
    background-color: #6728a6dd;
    border-radius: 10px;
    color: white;
    margin: 30px;
    
    padding: 1.5em;
    width: 45%;

    transition: width 1s ease-out;


}

@media screen and (max-width:1000px) {
    .#{$layout-name}{
        width: 80%;

        transition: width 1s ease-out;
    }
}